<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
            padding: 5px;
            color: rgb(62, 62,95)
            font-family 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Confirmación de cambio de contraseña exitoso</h1>
            <h3>Felicitaciones {{firstName}} usted ha actualizado la contraseña del usuario {{email}} correctamente.</h3>
        </div>
    </body>
</html>