<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
            padding: 5px;
            color: rgb(62, 62,95)
            font-family 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Ingresa a este link para cambiar tu contraseña</h1>
            <a href="{{url}}/api/sessions/resetPassword?token={{token}}"><h2>Hacé click aquí</h2></a>
        </div>
    </body>
</html>
